<h1>User Insights</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Money Spent</th>
        <th>Remarks</th>
    </tr>

    <% @users.order(:last_name).each do |user| %>
        <tr>
            <td>
                <p><%= user.id %></p>
            </td>
            <td>
                <p><%= user.first_name.present? ? user.first_name + ' ' + user.last_name : "No name" %></p>
            </td>
            <td>
                <p><%= user.email %></p>
            </td>
            <td>
                <p><%= number_to_currency user.money_spent %></p>
            </td>
            <td>
                <% if user.admin? %>
                    <p class="warning">This user is an admin.</p>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>