<h1 class="text-center">All Airlines in System</h1>

<div class="row">
    <% @airlines.order(:code).each do |airline| %>
        <div class="col-lg-6">
            <div class="card">
                <%= link_to image_tag(airline.logo, :class => 'thumbnail card-img-top'), airline %>
            </div>
        </div>
    <% end %>
    <div class="col-lg-6">
        <div class="card">
            <%= link_to 'Add Airline', new_airline_path, :class => 'btn btn-primary search-button card-button' %>
        </div>
    </div>
</div>
