* {
    box-sizing: border-box;
}

h1 {
    margin: 10px;
}

.thumbnail {
    height: 50px;
    margin: 20px;
}

.center-div {
    margin: 0 auto;
    border-bottom: 2px solid #3e3d39;
    padding-bottom: 10px;
}

.nav-container-center {
    margin: 0 auto;
}

.navbar-brand-right {
    width: 120px;
    text-align: right;
    color: #3e3d39
}

.navbar-brand-right:hover {
    color: #3e3d39
}

.search-field {
    display: inline-block;
}

.search-button {
    margin: 15px auto;
    display: block;
    width: 250px;
}

.search-fields-container {
    display: flex;
    justify-content: space-around;
}

.dropdown-item:active {
    background-color: #3e3d39;
}

.search-button {
    background-color: #3e3d39;
}

.search-button:hover {
    background-color: #282824;
}

.search-button:active {
    background-color: #14130e;
}

.half-container {
    max-width: 400px;
    margin: 20px auto;
}

.error-msg {
    color: red;
}